.footer-image{
  width: 100%;
  /* position: absolute; */
  left: 0;
}
.footer-container{

  /* background-color: var(--cream-yellow); */
}
.footer-wrapper{
  background-color: var(--cream-yellow);
  display: flex;
  padding: 3rem 2rem;
  margin-top: -5px;
}
.footer-subwrapper{
  width: 20%;
}

.social-container{
  display: flex;

  gap: 2%;
  align-items: center;
  /* border: 1px solid black; */
}
.social-logo{
  width: 1.25rem;
  margin-top: auto;
}

.footer-heading{
  font-family: 'Rubik';
  font-weight: 700;
  margin-bottom: 5%;
}

.footer-link{
  margin-top: 5%;
  font-family: 'Rubik';
  cursor: pointer;
}

.footer-logo{
  width: 5rem;
}
